server:
  port: 8085

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cart-service
    username: postgres
    password: root12345
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

springdoc:
  swagger-ui:
    path: /swagger-ui.html
