body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: #fff;
  text-align: center;
}

.home-container {
  padding: 60px 20px;
}

.logo {
  font-size: 35px;
  font-weight: bold;
  color: #ff4d4d;
}

p span {
  color: #ffae00;
}

.btn-group {
  margin-top: 20px;
}

.primary-btn, .secondary-btn {
  padding: 10px 25px;
  font-size: 16px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
}

.primary-btn {
  background: #e94560;
  color: #fff;
  border: none;
}

.secondary-btn {
  background: transparent;
  color: #e94560;
  border: 2px solid #e94560;
}

.auth-container {
  margin-top: 60px;
}

input {
  width: 80%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: none;
}
